@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-10 m-auto">
            <h2 class="display-4 mb-5">Group wise chat service</h2>
            <form class="form-inline">
                <div class="input-prepend input-append">
                    <input type="text" name="user-name" id="user-name" placeholder="Type a user name" />
                    <input type="text" name="group-name" id="group-name" placeholder="Type a group name" />
                    <input type="button" id="join-group" class="btn btn-primary" value="Join Group" />
                    <input type="button" id="leave-group" class="btn btn-warning" value="Leave Group" />
                    <br /><br />
                    <input type="text" name="group-message" id="group-message-text" placeholder="Type a message" />
                    <input type="button" id="groupmsg" class="btn btn-primary" value="Send" />
                    <button type="button" id="br" class="btn btn-success">Browse</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6" id="messageList"></div>
    </div>
</div>
<input type="file" id="f" style="display:none;" accept=".jpg,.png,.gif"/>
@section Scripts{

    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}